body {
    background-image: url('germany.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.button-container {
    position: relative;
    width: 600px;
    height: 400px;
}

.team-button {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    position: absolute;
    transform-origin: center;
    box-sizing: border-box;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

.team-button.dortmund {
    top: 0;
    left: 25%;
}

.team-button.munich {
    top: 0;
    left: 60%;
}

.team-button.leverkusen {
    top: 50%;
    left: 0;
}

.team-button.stuttgart {
    top: 50%;
    left: 50%;
}

.team-button.leipzig {
    top: 50%;
    left: 100%;
}

h1 {
    color: black;
    font-size: 2em;
    margin-bottom: 20px;
}

.team-button:hover {
    background-color: green;
    transform: scale(1.1) translate(0, 0);
    transition: transform 0.2s, background-color 0.2s;
}